# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/5wrh2t62/x86/additional_project_files.txt
/android/app/.cxx/Debug/5wrh2t62/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/5wrh2t62/x86/android_gradle_build.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/5wrh2t62/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/build.ninja
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/5wrh2t62/x86/build.ninja
/android/app/.cxx/Debug/5wrh2t62/x86_64/build.ninja
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/5wrh2t62/x86/build_file_index.txt
/android/app/.cxx/Debug/5wrh2t62/x86_64/build_file_index.txt
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/reply/cache-v2-7d2b0f523ad4d3b9599e.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/reply/cache-v2-46ef5fc93fc9110402fb.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/reply/cache-v2-d4df9fdc5f9832e09840.json
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/reply/cache-v2-d99c0f0d0ff77938e66f.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/5wrh2t62/x86/cmake_install.cmake
/android/app/.cxx/Debug/5wrh2t62/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeCache.txt
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-27f6d56c0ade919338be.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-34d06bb81b75d7bed782.json
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/reply/cmakeFiles-v1-58b6e9b1fc282c7a9b73.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-457411c63b4741ee5ea8.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-0dae6e69016ea3323796.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-9d6e790c2359fc40b973.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/reply/codemodel-v2-46c9ad88a6fe50b03ca7.json
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/reply/codemodel-v2-b63e7f7abdee0db69953.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/5wrh2t62/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/5wrh2t62/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/5wrh2t62/hash_key.txt
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/.cmake/api/v1/reply/index-2025-05-11T06-43-02-0929.json
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-11T06-43-37-0342.json
/android/app/.cxx/Debug/5wrh2t62/x86/.cmake/api/v1/reply/index-2025-05-11T06-43-38-0885.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/.cmake/api/v1/reply/index-2025-05-11T06-43-40-0472.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/5wrh2t62/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/5wrh2t62/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/5wrh2t62/x86/prefab_config.json
/android/app/.cxx/Debug/5wrh2t62/x86_64/prefab_config.json
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/5wrh2t62/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/5wrh2t62/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/5wrh2t62/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5wrh2t62/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5wrh2t62/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/5wrh2t62/x86_64/CMakeFiles/TargetDirectories.txt
